<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <title>Hello, world!</title>
</head>
<body>

<section class="online_channeling">
    <div class="custom_div">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="online_channeling_heading">
                        <h1>Online Channeling</h1>
                        <img src="assets/heart-beat@2x.png" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="row online_channeling_element_sec">
                    <div class="col-lg-3">
                        <div class="online_channeling_element">
                            <img class="online_channeling_element_img" src="assets/medical-report@2x.png">
                            <p>Select Specialty Service</p>
                            <img class="line-bar" src="assets/line_bar.png">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="online_channeling_element">
                            <img class="online_channeling_element_img" src="assets/doctor@2x.png">
                            <p>Select Doctor And <br> Appointment Time</p>
                            <img class="line-bar" src="assets/line_bar.png">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="online_channeling_element">
                            <img class="online_channeling_element_img" src="assets/google-forms@2x.png">
                            <p>Fill The Form</p>
                            <img class="line-bar" src="assets/line_bar.png">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="online_channeling_element">
                            <img class="online_channeling_element_img" src="assets/pay@2x.png">
                            <p>Pay & Channel Doctor</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="appointment_service">
    <div class="custom_div">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <h2>Make An Appointment</h2>
                </div>
            </div>
            <div class="row service_list">
                <div class="col-12">
                    <h6>Select Service :</h6>
                    <div class="flex-container">
                        <div class="flex_item">
                            <div class="services"><p>Diabetes</p></div>
                        </div>
                        <div class="flex_item">
                            <div class="services"><p>Clinical Hematology</p></div>
                        </div>
                        <div class="flex_item">
                            <div class="services"><p>Family Medicine</p></div>
                        </div>
                        <div class="flex_item">
                            <div class="services"><p>Dermatologist</p></div>
                        </div>
                        <div class="flex_item">
                            <div class="services"><p>Diabetes</p></div>
                        </div>
                        <div class="flex_item">
                            <div class="services"><p>Clinical Hematology</p></div>
                        </div>
                        <div class="flex_item">
                            <div class="services"><p>Family Medicine</p></div>
                        </div>
                        <div class="flex_item">
                            <div class="services"><p>Dermatologist</p></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="custom_div">
        <div class="container-fluid select_doctor">
            <div class="row">
                <div class="col-md-3">
                    <h6>Select A Doctor :</h6>
                </div>
                <div class="col-md-9">
                    <div class="flex-container">
                        <div class="flex_item">
                            <input type="radio" id="html" name="fav_language" value="HTML">
                            <label for="html">HTML</label>
                        </div>
                        <div class="flex_item">
                            <input type="radio" id="html" name="fav_language" value="HTML">
                            <label for="html">HTML</label>
                        </div>
                        <div class="flex_item">
                            <input type="radio" id="html" name="fav_language" value="HTML">
                            <label for="html">HTML</label>
                        </div>
                        <div class="flex_item">
                            <input type="radio" id="html" name="fav_language" value="HTML">
                            <label for="html">HTML</label>
                        </div>
                        <div class="flex_item">
                            <input type="radio" id="html" name="fav_language" value="HTML">
                            <label for="html">HTML</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="custom_div">
        <div class="container-fluid select_doctor">
            <div class="row time_slots_grp">
                <div class="col-md-6">
                    <h6 class="s">Select A Date :</h6>
                </div>
                <div class="col-md-6">
                    <h6>Available Time Slots :</h6>
                    <div class="flex-container">
                        <div class="flex-container">
                            <div class="flex_item">
                                <div class="time_slot"><p>09:00 AM - 09:30 AM</p></div>
                            </div>
                            <div class="flex_item">
                                <div class="time_slot"><p>09:00 AM - 09:30 AM</p></div>
                            </div>
                            <div class="flex_item">
                                <div class="time_slot"><p>09:00 AM - 09:30 AM</p></div>
                            </div>
                            <div class="flex_item">
                                <div class="time_slot"><p>09:00 AM - 09:30 AM</p></div>
                            </div>
                            <div class="flex_item">
                                <div class="time_slot"><p>09:00 AM - 09:30 AM</p></div>
                            </div>
                            <div class="flex_item">
                                <div class="time_slot"><p>09:00 AM - 09:30 AM</p></div>
                            </div>
                            <div class="flex_item">
                                <div class="time_slot"><p>09:00 AM - 09:30 AM</p></div>
                            </div>
                            <div class="flex_item">
                                <div class="time_slot"><p>09:00 AM - 09:30 AM</p></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="custom_div">
        <div class="container-fluid select_doctor">
        <button class="appointment_page_next_btn">Next</button>
        </div>
    </div>

</section>

<!-- Optional JavaScript; choose one of the two! -->

<!-- Option 1: Bootstrap Bundle with Popper -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

<!-- Option 2: Separate Popper and Bootstrap JS -->
<!--
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
-->
</body>
</html>
